.errorPage
  contentContainer()
  infoContent($temperature-color)
  flex-wrap wrap
  overflow-x auto
  h1,
  section,
  footer
      width calc(100vw - 4em)
  .error
    width calc(100vw - 4em)
    margin-left: 4em