global-reset()

*
  box-sizing border-box
  user-select none

a
  cursor pointer

.btn
  padding 30px 42px
  margin-bottom 22px
  background $temperature-color
  color $white
  display inline-block
  text-decoration none
  border-radius 0
  font-size 1.8em
  font-weight 200

.txtRight
  text-align right
.txtMiddle
  text-align center
strong
  font-weight bold
.fa
  margin-right 10px


body
  background $general-color
  background-position left 9% bottom 521%
  margin 0
  overflow hidden
  font-family 'Roboto', sans-serif
  height 100vh
  position relative
  color $white