//font-size = 14px
//general-color = #000

$content-maxHeight = 520px
$general-color     = #f4f4f4

$temperature-bgcolor  = #fbfbfb
$temperature-color    = #3b3b3b
$humidity-bgcolor     = #99c0fb
$humidity-color       = #384c6d
$air-quality-bgcolor  = #8AFFD2
$air-quality-color    = #1e735a
$notification-bgcolor = #2790A5
$notification-color   = #C3E4EB

$flatBlue  = #3498db
$flatBlueD = #2980b9
$flatGreyD = #7f8c8d
$white     = white