.content-mesure.air-quality(ng-click='HaruCtrl.navigateMenu($event)')
    .iconContainer
        svg(width='100%', height='100%', viewBox='0 0 27 28')
            g(stroke='none', stroke-width='1')
                g()
                    path(d='M21,15 C24.3137085,15 27,12.3137085 27,9 C27,5.6862915 24.3137085,3 21,3 C17.6862915,3 15,5.6862915 15,9 C15,9.55228475 15.4477152,10 16,10 C16.5522847,10 17,9.55228475 17,9 C17,6.790861 18.790861,5 21,5 C23.209139,5 25,6.790861 25,9 C25,11.209139 23.209139,13 21,13 L2,13 C1.44771525,13 1,13.4477152 1,14 C1,14.5522847 1.44771525,15 2,15 L21,15 Z M10,11.5 C11.9329966,11.5 13.5,9.9329966 13.5,8 C13.5,6.06700338 11.9329966,4.5 10,4.5 C8.584482,4.5 7.3249536,5.34836701 6.77932845,6.62822039 C6.5627402,7.13626367 6.7990112,7.72369359 7.30705445,7.94028183 C7.81509775,8.15687005 8.40252765,7.92059908 8.6191159,7.41255579 C8.8531369,6.86362114 9.39298715,6.5 10,6.5 C10.8284271,6.5 11.5,7.17157288 11.5,8 C11.5,8.8284271 10.8284271,9.5 10,9.5 L1,9.5 C0.44771525,9.5 0,9.94771525 0,10.5 C0,11.0522848 0.44771525,11.5 1,11.5 L10,11.5 Z M19,18.5 C20.6568542,18.5 22,19.8431458 22,21.5 C22,23.1568542 20.6568542,24.5 19,24.5 C17.3431458,24.5 16,23.1568542 16,21.5 C16,20.9477153 15.5522848,20.5 15,20.5 C14.4477152,20.5 14,20.9477153 14,21.5 C14,24.2614237 16.2385763,26.5 19,26.5 C21.7614237,26.5 24,24.2614237 24,21.5 C24,18.7385763 21.7614237,16.5 19,16.5 L3.5,16.5 C2.94771525,16.5 2.5,16.9477153 2.5,17.5 C2.5,18.0522848 2.94771525,18.5 3.5,18.5 L19,18.5 Z')
    .mesure-value(ng-bind="HaruCtrl.getCurrentState('air_quality').value")
        span.value 600
        span ppm
    .mesure-resume(ng-bind="HaruCtrl.getCurrentState('air_quality').shortAdvice")
    .mesure-detail
        p(ng-bind="HaruCtrl.getCurrentState('air_quality').longAdvice")
        footer
            a.close(ng-click='HaruCtrl.closeDetail($event)') ok