.content-mesure.temperature(ng-click='HaruCtrl.navigateMenu($event)')
    .iconContainer
        svg(width='47%', height='87%', viewBox='0 0 12 26')
            g(stroke='none', stroke-width='1')
                g(transform='translate(-18.000000, -230.000000)')
                    g(transform='translate(0.000000, 182.000000)')
                        g(transform='translate(18.000000, 48.300000)')
                            path(d='M6.15966696,25.5412486 C2.9525836,25.5412486 0.343357366,22.9320224 0.343357366,19.724939 C0.343357366,18.0173277 1.07353506,16.4357589 2.35955568,15.3284194 L2.35955568,3.30897985 C2.35955568,1.598471 3.75133618,0.20669051 5.46184503,0.20669051 L6.85748889,0.20669051 C8.56799774,0.20669051 9.95977823,1.598471 9.95977823,3.30897985 L9.95977823,15.3279364 C11.2462818,16.4357589 11.9764595,18.0168448 11.9764595,19.7244561 C11.9759766,22.9320224 9.36675032,25.5412486 6.15966696,25.5412486 L6.15966696,25.5412486 Z M5.4613621,1.75783518 C4.60610768,1.75783518 3.91021743,2.45372543 3.91021743,3.30897985 L3.91021743,16.0856407 L3.60114751,16.318409 C2.51602233,17.1350296 1.89401911,18.3766215 1.89401911,19.724939 C1.89401911,22.0767679 3.8073551,23.9905868 6.15966696,23.9905868 C8.51197882,23.9905868 10.4253148,22.0772509 10.4253148,19.724939 C10.4253148,18.3766215 9.80282866,17.1350296 8.71818641,16.318409 L8.40911648,16.0856407 L8.40911648,3.30897985 C8.40911648,2.45372543 7.71322624,1.75783518 6.85797181,1.75783518 L5.4613621,1.75783518 L5.4613621,1.75783518 Z')
                            ellipse(cx='6.15966696', cy='19.681476', rx='3.01584635', ry='3.01584635')
                            path(d='M6.15966696,18.7764807 C5.51738103,18.7764807 4.99630846,18.255891 4.99630846,17.6131222 L4.99630846,11.0642203 C4.99630846,10.4219343 5.51689811,9.90086178 6.15966696,9.90086178 C6.80195289,9.90086178 7.32302546,10.4214514 7.32302546,11.0642203 L7.32302546,17.6131222 C7.32302546,18.255891 6.80195289,18.7764807 6.15966696,18.7764807 L6.15966696,18.7764807 Z')
    .mesure-value(ng-bind="HaruCtrl.getCurrentState('temperature').value") 20°c
    .mesure-resume(ng-bind="HaruCtrl.getCurrentState('temperature').shortAdvice")
    .mesure-detail
        h4(ng-bind="HaruCtrl.getCurrentState('temperature').longAdviceTitle")
        p(ng-bind="HaruCtrl.getCurrentState('temperature').longAdvice")
        footer
            a.close(ng-click='HaruCtrl.closeDetail($event)') ok