extends extends/layout

block content
  .container(page='home')
    include partials/mesures/temperature
    include partials/mesures/humidity
    include partials/mesures/aq
    // include partials/mesures/notification