svg(height='1.5em' viewbox='0 0 100 100')
    path(d='M 71.8125 5.96875 A 2.0002002 2.0002002 0 0 0 70.625 6.5625 L 26.625 48.5625 A 2.0002002 2.0002002 0 0 0 26.625 51.4375 L 61.625 84.84375 A 2.0002002 2.0002002 0 1 0 64.375 81.96875 L 30.875 50 L 73.375 9.4375 A 2.0002002 2.0002002 0 0 0 72 5.96875 A 2.0002002 2.0002002 0 0 0 71.8125 5.96875 z M 68.65625 87.0625 A 2.0002002 2.0002002 0 0 0 67.53125 90.5 L 70.625 93.4375 A 2.0002002 2.0002002 0 1 0 73.375 90.5625 L 70.3125 87.625 A 2.0002002 2.0002002 0 0 0 68.65625 87.0625 z ')
