svg(width='15em', height='5em', viewbox='0 0 100 100')
    g(transform='translate(0,-952.36218)')
        path(d='m 50,969.36217 c -4.9587,0 -9,4.0413 -9,9 0.9843,10.3338 1.997,20.66722 3,31.00003 0.3214,4.1431 3.1862,5.9291 6,6 2.8138,-0.071 5.6786,-1.8569 6,-6 1.003,-10.33281 2.0157,-20.66623 3,-31.00003 0,-4.9587 -4.0413,-9 -9,-9 z m 0,2 c 3.2237,0 6.8867,2.4715 7,7 -1.003,10.33277 -2.0161,20.66619 -3,31.00003 0,2.2209 -1.779,4 -4,4 -2.221,0 -4,-1.7791 -4,-4 -0.9839,-10.33384 -1.997,-20.66726 -3,-31.00003 0.1133,-4.5285 3.7763,-7.0027 7,-7 z m 0,50.00003 c -3.8541,0 -7,3.1458 -7,7 0,3.8541 3.1459,7 7,7 3.8541,0 7,-3.1459 7,-7 0,-3.8542 -3.1459,-7 -7,-7 z m 0,2 c 2.7732,0 5,2.2267 5,5 0,2.7732 -2.2268,5 -5,5 -2.7732,0 -5,-2.2268 -5,-5 0,-2.7733 2.2268,-5 5,-5 z')
